@use 'inicio';
@use 'variaveis';

@font-face {
    font-family: tungsten-bold, sans-serif;
    src: url(../../assets/fonts/Tungsten-Bold.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    h1{
        font-family: Tungsten-Bold, sans-serif;
        text-transform: uppercase;
        color: red;
    }
    
}

.button{
    text-transform: uppercase;
    color: variaveis.$corTextoPrincipal;
    font-weight: 375;
    text-align: center;
    justify-content: center;
    text-decoration: none;
    padding: 19px 32px;
    font-family: 'Bebas Neue', sans-serif;
    background-color: #3d528f;
    border: 2px solid rgb(61, 82, 143);
    box-shadow: inset -27px 27px 54px #243054,
                inset 27px -27px 54px #5674ca;
    cursor: pointer;
    transition: color 0.25s ease-in-out, background-color 0.3s ease-in-out;
    &:hover{
        background-color: #8999c9;
        border: 2px solid rgb(61, 82, 143);
        box-shadow: inset -27px 27px 54px #243054,
                    inset 27px -27px 54px #5674ca;
    }
    

}


@mixin title($fontSize: 48px){
    @include text($fontSize);
    font-family: 'Bebas Neue', sans-serif;

}
@mixin text($fontSize: 18px){
    font-size: $fontSize;
    color: variaveis.$corTextoPrincipal;
    font-family: 'Inter', sans-serif;

}

// CLASSE DO MIXIN
.title--big{
    @include title(112px);
}
.title{
    @include title;
}
.title--small{
    @include title(36px);
}
// ***********************
.text--big {
    @include text(22px);
}
.text {
    @include text;
}
.text--small {
    @include text(13px);
}
